.navbar {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    margin-top: 0px;
    background-color: #282828;
    z-index: 100;
    height: 40px;
  }
  
  .nav-link {
    color: #e1e1e1 !important;
  }
  
  .navbar-brand {
    color: #4b4b4b !important;
  }
  
  .navbar-light.navbar-nav.nav-link {
    color: white;
  }